//
// user.scss
// Use this to write your custom SCSS
//

@font-face {
  font-family: 'Feather';
  src:
          url('~@/assets/fonts/feather/fonts/Feather.ttf?sdxovp') format('truetype'),
          url('~@/assets/fonts/feather/fonts/Feather.woff?sdxovp') format('woff'),
          url('~@/assets/fonts/feather/fonts/Feather.svg?sdxovp#Feather') format('svg');
  font-weight: normal;
  font-style: normal;
}
